@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/materia/variables';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
  font-weight: bold;
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

//SIDEBAR
.main-wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #88b5f0;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  /* margin-left: -210px; */

  min-width: 50px; //Cuando esta cerrado
  width: 50px !important;
}
#sidebar.active .submenu {
  /* margin-left: -210px; */
  padding: 0px 0px 0px 10px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #353d47;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  height: 40px;
}
#sidebar ul {
  list-style: none;
}

#sidebar ul li a:hover {
  color: #495059;
  background: #fff;
}

#sidebar ul li.active>a,
/* a[aria-expanded="true"] {
  color: #fff;
  background: #353d47;
} */
/* 
a[data-toggle="collapse"] {
  position: relative;
} */

/* a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
} */

/* ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #353d47;
} */

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* 
a.download {
  background: #fff;
  color: #495059;
}

a.article,
a.article:hover {
  background: #353d47 !important;
  color: #fff !important;
} */

//Mediaquery

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
#sidebar.active li > a > i {
  float: center;
}

.accordion {
  width: 100%;
  max-width: 360px;
  margin: auto;
  background: #fff;
  border-radius: 4px;
}

.accordion .menu {
  position: relative;
  padding: 15px 15px 15px 45px;
  color: #4d4d4d;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.4s ease;
}

.accordion li:last-child .menu {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  color: #595959;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 1rem;
  left: auto;
}

.accordion li.active i.fa-chevron-down {
  transform: rotate(180deg);
}

.accordion li.active .menu {
  color: #b63b4d;
}

.accordion li.active i {
  color: #b63b4d;
}

/* Show submenu */
.accordion li.active .submenu {
  /*
    height: 0 -> height: auto;는 transition이 동작하지 않는다.
    max-height: 임의의 높이;를 지정하면 transition이 동작하지만 타이밍이 망가진다.
    max-height: 1000px;과 max-height: 133px;을 비교해 보라!
    height를 1000px으로 transition할 시간에 실제로는 133px정도만 transition하므로 여는 시간이 닫는 시간보다 빠르다.
  */
  /* max-height: 1000px; */
  /* max-height: 133px; */
}

.submenu {
  height: 0;
  overflow: hidden;
  background: #444359;
  font-size: 14px;
  padding: 0px 0px 0px 20px;
  transition: height 0.4s ease;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.accordion li:last-child .submenu {
  border-radius: 0 0 4px 4px;
}

.accordion li:last-child .submenu li:last-child {
  border-bottom: 0;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  transition: all 0.25s ease-in-out;
}

.submenu a:hover {
  background: #b63b4d;
  color: #fff;
}
